.Content {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 4;
  margin: 20px;
}

.ContentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  color: var(--main-fontcolor);
  font-family: var(--main-fontfamily);
}

.Card {
  width: 400px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: #162737;
}

.Tools {
  color: var(--second-color);
}
