.Content {
  min-height: 30rem;
  min-width: 150rem; /*300*/
  padding: 40px;
  margin: 5% 0;
}

.ContentCards {
  display: flex;
  gap: 30px;
  color: var(--main-fontcolor);
  font-family: var(--main-fontfamily);
}
.Cards h2 {
  font-family: var(--header-fontfamily);
}
.Card {
  width: 70%; /* width connected to HorizonScroll carousel (dragConstraints = -width)*/
  height: 500px;
  margin-right: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #162737;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}

.Card:hover {
  background-color: #162737;
}

.Tools {
  color: var(--second-color);
  font-family: var(--header-fontfamily);
  font-weight: 400;
  margin-top: 5rem;
}

.TextTool p {
  font-size: 16px;
  margin-bottom: 5rem;
  line-height: 1.5;
}

.CardText p {
  line-height: 1.5;
  padding-top: 20px;
}

.githubIcon {
  width: 45px;
  height: auto;
  border-radius: 50%;
  box-shadow: 3px 3px 6px rgb(94, 234, 212);
}
