.Content {
  min-height: 30rem;
  min-width: 300rem;
  padding: 40px;
  margin: 5% 0;
}

.ContentCards {
  display: flex;
  /* justify-content: center; */
  gap: 30px;
  color: var(--main-fontcolor);
  font-family: var(--main-fontfamily);
}

.Card {
  width: 100%;
  height: 500px;
  margin-right: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #162737;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}

.Card:hover {
  background-color: #162737;
}

.Tools {
  color: var(--second-color);
  font-weight: 400;
  margin-top: 5rem;
}

.TextTool p {
  font-size: 16px;
  margin-bottom: 5rem;
  line-height: 1.5;
}

.CardText p {
  line-height: 1.5;
  padding-top: 20px;
}
