/*screen size 300*/
.Container {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr; /* Two columns: auto for navigation, 1fr for headers */
  grid-template-rows: auto 1fr;
  width: 95%;
  margin: 0 auto; /*Center the container*/
}
.Navigation {
  display: flex;
  flex-direction: space-around;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Navigation a {
  margin-bottom: 0;
  margin-right: 10px;
  color: var(--button-fontcolor);
  font-family: var(--main-fontfamily);
  text-decoration: none;
}

.Navigation a:last-child {
  margin-right: 0;
}

.Navigation a:before {
  content: "";
  margin-left: 0px;
}

.Navigation a:last-child:before {
  content: "";
}

/* Middle Section / Header */
.HeadersContainer {
  grid-row: 2;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
  margin-top: 2rem;
  position: relative;
}

.Headers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  box-shadow: 1px 1px 12px 2px #888888;
  padding-left: 20px;
}

.Waves {
  position: absolute;
  width: 100%;
  top: 43%; /* Postion in the middle of container*/
  left: 20%;
  transform: translateY(-50%);
  z-index: -1;
}

.HeaderOne {
  grid-row: 2;
  grid-column: 1 / -1;
  color: var(--main-fontcolor);
  font-family: var(--header-fontfamily);
  font-size: 30px;
  margin-top: 5%;
  text-align: center;
}

.HeaderTwo {
  grid-row: 3;
  grid-column: 1 / -1;
  color: var(--main-fontcolor);
  font-family: var(--header-fontfamily);
  margin-top: 10%;
  text-align: center;
}

.HeaderTwo h2 {
  font-weight: 400;
}

.Intro {
  grid-row: 4;
  grid-column: 1 / -1;
  margin-top: 20%;
  color: var(--main-fontcolor);
  font-family: var(--main-fontfamily);
  text-align: center;
}

.Logo {
  width: 200px;
  height: auto;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* Screen size Larger / min-width 1200 px */
@media screen and (min-width: 1200px) {
  .Container {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Two columns: auto for navigation, 1fr for headers */
    grid-template-rows: 1fr, auto, 1fr;
    width: 95%;
    height: 100%;
  }

  .Navigation {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: relative;
    left: 70%;
    transform: translateX(-20%);
  }

  .Navigation a {
    margin-bottom: 20px;
    color: var(--button-fontcolor);
    font-family: var(--main-fontfamily);
    text-decoration: none;
  }

  .Navigation a:before {
    content: "├───";
    margin-left: 10px;
  }

  .Navigation a:last-child:before {
    content: "└───";
  }

  /* Middle Section / Header */
  .HeadersContainer {
    grid-column: 2;
    grid-row: 1;
    height: 700px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    /* Center the content vertically */
    margin-top: 5rem;
    position: relative;
    z-index: -1;
    /* top: 5rem; */
  }

  .Headers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 200px);
    box-shadow: 1px 1px 12px 2px #888888;
    padding-left: 20px;
  }
  .Waves {
    grid-row: 1;
    grid-column: 2;
    padding-left: 7px;
    position: relative;
    top: 20%;
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  .HeaderOne {
    grid-row: 2;
    grid-column: 2 / span 5;
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-size: 30px;
    margin-top: 5%;
    position: relative;
    top: 10%;
    width: 100%;
    left: 40%;
    transform: translateX(-50%);
  }

  .HeaderTwo {
    grid-row: 3 / span 4;
    grid-column: 2 / span 4;
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    margin-top: 10%;
  }

  .HeaderTwo h2 {
    font-weight: 400;
  }

  .Intro {
    grid-row: 3 / span 2;
    grid-column: 2 / span 4;
    margin-top: 20%;
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    padding-top: 1px;
  }

  .Logo {
    width: 200px;
    height: auto;
    margin-top: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
