.Headers {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 200px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.HeaderOne {
  grid-row: 2;
  grid-column: 2 / span 5;
  color: var(--main-fontcolor);
  font-family: var(--main-fontfamily);
  font-size: 30px;
}

.HeaderTwo {
  grid-row: 3 / span 4;
  grid-column: 2 / span 4;
  color: var(--main-fontcolor);
  font-family: var(--main-fontfamily);
  background-color: #162737;
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
}

.Intro {
  grid-row: 3 / span 2;
  grid-column: 2 / span 4;
  margin-top: 50px;
  color: var(--main-fontcolor);
  font-family: var(--main-fontfamily);
  line-height: 1.5;
  padding-top: 25px;
  padding-left: 20px;
}

img {
  width: 200px;
  height: auto;
  margin: 10px;
}

.Logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Navigation {
  grid-row: 1 / span 5;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
}

.Navigation a {
  margin-bottom: 20px;
  color: var(--button-fontcolor);
  font-family: var(--main-fontfamily);
  text-decoration: none;
}

.Navigation a:before {
  content: "├───";
  margin-right: 10px;
}

.Navigation a:last-child:before {
  content: "└───"; /* Change character for last item */
}
