@media screen and (min-width: 300px) {
  .SkillsMainContainer {
    grid-column: 1;
    grid-row: 5;
    width: 100;
    height: 100%;
    background-color: transparent;
  }
  .MainHeader h1 {
    position: relative;
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-weight: 700;
    text-align: center;
  }

  .SecondContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 85%;
    background-color: rgb(213, 209, 191);
    border-radius: 15px;
  }

  .DarkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: 95%;
    position: relative;
    top: 2%;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 10px;
  }

  .DarkContainer h2 {
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    font-weight: 300;
    text-align: center;
  }

  .Skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 20%;
    border: 1px solid #fc354c;
    border-radius: 15px;
    padding: 10px;
    margin: 0.3rem;
  }

  .Logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .Logo {
    width: 40px;
    height: 40px;
  }

  .Titles h3 {
    color: #fc354c;
    font-family: var(--main-fontfamily);
    margin-top: 10px;
    text-align: center;
  }

  .BottomSection {
    margin-top: auto;
  }

  .BottomSection h3 {
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    font-weight: 100;
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
  .SkillsMainContainer {
    grid-column: 1;
    grid-row: 5;
    width: 100;
    height: 100%;
    background-color: transparent;
  }
  .MainHeader h1 {
    position: relative;
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-weight: 700;
    text-align: center;
  }

  .SecondContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 85%;
    background-color: rgb(213, 209, 191);
    border-radius: 15px;
  }

  .DarkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: 95%;
    position: relative;
    top: 2%;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 10px;
  }

  .DarkContainer h2 {
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    font-weight: 300;
    text-align: center;
  }

  .Skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 20%;
    border: 1px solid #fc354c;
    border-radius: 15px;
    padding: 10px;
    margin: 0.3rem;
  }

  .Logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .Logo {
    width: 40px;
    height: 40px;
  }

  .Titles h3 {
    color: #fc354c;
    font-family: var(--main-fontfamily);
    margin-top: 10px;
    text-align: center;
  }

  .BottomSection {
    margin-top: auto;
  }
  .BottomSection h3 {
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    font-weight: 100;
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  .SkillsMainContainer {
    grid-column: 1 / -1;
    grid-row: 5;
    width: 100;
    height: 100%;
    background-color: transparent;
  }
  .MainHeader h1 {
    position: relative;
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-weight: 700;
    text-align: center;
  }

  .SecondContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 85%;
    background-color: rgb(213, 209, 191);
    border-radius: 15px;
  }

  .DarkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: 95%;
    position: relative;
    top: 2%;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 10px;
  }

  .DarkContainer h2 {
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    font-weight: 300;
    text-align: center;
  }

  .Skills {
    width: 40%;
    height: 20%;
    border: 1px solid #fc354c;
    border-radius: 15px;
    padding: 10px;
    margin: 0.3rem;
  }

  .Logo {
    width: 50px;
    height: 50px;
  }

  .Titles h3 {
    color: #fc354c;
    font-family: var(--main-fontfamily);
    margin-top: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .SkillsMainContainer {
    grid-column: 1 / -1;
    grid-row: 5;
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: 0;
  }

  .SecondContainer {
    width: 78%;
    height: 85%;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -30%);
    border-radius: 15px;
    background-color: rgb(213, 209, 191);
    padding: 0 5rem;
  }

  .MainHeader h1 {
    position: relative;
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-weight: 700;
    text-align: left;
    margin-left: 250px;
  }

  .DarkContainer {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    position: relative;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 10rem;
  }

  .Skills {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 1rem;
  }

  .Logo {
    width: 50px;
    height: 50px;
  }

  .Titles h3 {
    color: #fc354c;
    font-size: 24px;
    font-family: var(--main-fontfamily);
    margin-top: 10px;
    text-align: center;
  }

  .BottomSection {
    margin-top: auto;
    grid-column: 1/ -1;
    text-align: center;
  }

  .BottomSection h3 {
    color: var(--main-fontcolor);
    font-size: 24px;
    font-family: var(--main-fontfamily);
    font-weight: 100;
  }
}
