@media screen and (min-width: 300px) {
  .AboutContainer {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    position: relative;
    padding: 0 1rem;
    background-color: rgb(213, 209, 191);
    border-radius: 15px;
    margin-top: 2rem;
    overflow: hidden;
  }

  .About {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

  .Section h2 {
    color: var(--backgroudn-color);
    font-family: var(--header-fontfamily);
    margin-top: 1.5rem;
  }

  .AboutText p {
    color: var(--backgound-color);
    font-family: var(--main-fontfamily);
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    margin-bottom: 15%;
  }

  .AnimateSphereContainer {
    grid-column: 1;
    max-width: 100%;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .CanvasContainer {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .AboutContainer {
    position: relative;
    padding: 0 1rem;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .AboutContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    padding: 0 1rem;
    max-width: 85%;
    height: auto;
    margin: auto;
  }

  .About {
    padding-left: 0.5rem;
  }

  .Section h2 {
    margin-top: 1.5rem;
  }

  .AnimateSphereContainer {
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  .CanvasContainer {
    width: 100%;
    height: auto;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  .AboutContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 430px;
    width: 75%;
    height: auto;
    margin: auto;
    padding: 20px;
    position: relative;
    left: 0.5%;
  }

  .About {
    grid-column: 1 / 3;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .Section h2 {
    margin-bottom: 1rem;
    margin-top: 2.5rem;
  }

  .AboutText p {
    text-align: left;
    line-height: 1.8em;
    font-weight: 400;
  }

  .AnimateSphereContainer {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
  }

  .CanvasContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 0 3rem;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .AboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* About section takes more space */
    grid-template-rows: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 650px;
    margin: auto;
    padding: 1%;
  }

  .About {
    grid-column: 1 / 2;
    padding: 3rem;
  }

  .Section h2 {
    margin-bottom: 1rem;
    margin-top: 2.5rem;
  }

  .AnimateSphereContainer {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem; /* Small margin between About and AnimatedSphere */
    margin-right: 0rem;
    min-width: 50%;
  }

  .CanvasContainer {
    min-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 0 3rem;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
