@media screen and (min-width: 300px) {
  .Content {
    min-height: 100%;
    min-width: 125rem; /*from 80rem*/
    padding: 20px;
    margin: 0% 0;
    position: relative;
    bottom: 8%;
  }

  .ContentCards {
    display: flex;
    gap: 30px;
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
  }

  .Card h3 {
    font-family: var(--header-fontfamily);
    font-weight: 300;
    font-size: 18px;
  }

  .Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 20%; /* width connected to HorizonScroll carousel (dragConstraints = -width)*/
    height: 50%;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #162737;
    background-color: var(--background-color);
    transition: background-color 0.3s;
  }

  /* .Card:hover {
    background-color: #162737;
  } */

  .FlipCardInner {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }

  .FlipCardInner .FlipCardBack {
    position: relative;
    top: -10px;
    width: 100%;
    height: 600px;
  }

  .FlipCardFront,
  .FlipCardBack {
    position: absolute;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /*web browser compatible  Safari and Chrome*/
    overflow: hidden;
  }

  .FlipCardFront .ProjectImage {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; /*across web browsers*/
  }

  .FlipCardBack {
    -webkit-transform: rotateY(180deg); /*Firefox */
    transform: rotateY(180deg);
  }

  .Flip .FlipCardInner {
    -webkit-transform: rotateY(180deg); /*Firefox */
    transform: rotateY(180deg);
  }

  .FlipButtonFront {
    margin-top: 30px;
    padding: 5px, 10px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
  }

  .FlipButtonBack {
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    padding: 1px 20px;
  }

  /* Back Arrow */
  .FlipButtonBack .Arrow {
    width: 20px;
    height: 20px;
  }

  /* Back of Card Header and Link Arrow SVG */
  .BackHeader {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  /* RED LINK SVG */
  .LinkImage {
    width: 25px;
    height: 25px;
    position: relative;
    left: 55%;
  }

  .LinkImage:hover {
    transform: scale(1.5);
  }

  .TextTool {
    font-size: 11px;
    color: var(--button-fontcolor);
  }

  .Tool {
    display: inline-block;
    line-height: 1.5;
    padding-left: 20px;
  }

  .CardText p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.5;
    padding-top: 2px;
    font-size: 14px;
  }
}

@media screen and (min-width: 400px) {
  .Content {
    min-height: 100%;
    min-width: 180rem; /*300*/
    padding: 40px;
    margin: 5% 0;
    position: relative;
    bottom: 8%;
  }

  .ContentCards {
    display: flex;
    gap: 30px;
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
  }

  .Card h3 {
    font-family: var(--header-fontfamily);
    font-weight: 500;
  }

  .Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 10%; /* width connected to HorizonScroll carousel (dragConstraints = -width)*/
    height: 50%;
    margin-right: 20px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #162737;
    background-color: var(--background-color);
    transition: background-color 0.3s;
  }

  .Card:hover {
    background-color: #162737;
  }

  .FlipCardInner {
    position: relative;
    width: 100%;
    height: 635px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }

  .FlipCardFront,
  .FlipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /*web browser compatible - firefox*/
  }

  .FlipCardFront .ProjectImage {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover; /*across web browsers*/
  }

  .FlipCardBack {
    transform: rotateY(180deg);
  }

  .Flip .FlipCardInner {
    transform: rotateY(180deg);
  }

  .FlipButtonFront {
    position: relative;
    top: 30%;
    margin-top: 30px;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
  }

  .FlipButtonBack {
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 30px;
  }

  /* Back Arrow */
  .FlipButtonBack .Arrow {
    width: 17px;
    height: 17px;
  }

  /* RED LINK SVG */
  .LinkImage {
    width: 20px;
    height: 20px;
    position: relative;
    left: 55%;
  }

  .LinkImage:hover {
    transform: scale(1.5);
  }

  .TextTool {
    font-size: 14px;
    color: var(--button-fontcolor);
  }

  .Tool {
    display: inline-block;
    line-height: 1.5;
    padding-left: 20px;
  }

  .CardText p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.5;
    padding-top: 1px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .Content {
    min-height: 30rem;
    min-width: 200rem;
    padding: 40px;
    margin: 5% 0;
  }

  .ContentCards {
    display: flex;
    gap: 30px;
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
  }

  .FlipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }

  .FlipCardFront,
  .FlipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /*web browser compatible - firefox*/
  }

  .FlipCardFront .ProjectImage {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover; /*across web browsers*/
    z-index: 1; /*testing*/
  }

  .FlipCardBack {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /*Firefox */
  }

  .Flip .FlipCardInner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /*Firefox */
  }

  .FlipButtonFront {
    position: relative;
    top: 10%;
    transform: translateY(-90%);
    margin-top: 30px;
    padding: 10px, 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
  }

  .FlipButtonBack {
    margin-top: 40px;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 30px;
  }

  .FlipButtonBack .Arrow {
    width: 20px;
    height: 20px;
  }

  .Card h3 {
    font-family: var(--header-fontfamily);
    font-weight: 400;
    font-size: 28px;
  }

  /* BLUE Cards */
  .Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 55%; /* width connected to HorizonScroll carousel (dragConstraints = -width)*/
    height: 550px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #162737;
    background-color: var(--background-color);
    transition: background-color 0.3s;
  }

  /* .Card:hover {
    background-color: #162737;
  } */

  /* Back of Card Header and Link Arrow SVG */
  .BackHeader {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  /* RED Arrow LINK SVG */
  .LinkImage {
    width: 30px;
    height: 30px;
  }

  .LinkImage:hover {
    transform: scale(1.5);
  }

  .TextTool {
    font-size: 16px;
    color: var(--button-fontcolor);
  }

  .Tool {
    display: inline-block;
    padding-left: 30px;
    margin-top: 50px;
  }

  .CardText p {
    display: inline;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 10px;
  }
}
