@media screen and (min-width: 300px) {
  .FooterContainer {
    grid-column: 1;
    grid-row: -1;
    width: 100%;
    height: auto;
  }

  .Footer {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .Footer p {
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    font-size: 15px;
  }

  .Logo {
    position: relative;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
  }
  .RedLogo {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 700px) {
  .FooterContainer {
    grid-column: 1 / -1;
    grid-row: -1;
    width: 100%;
    height: auto;
  }

  .Footer {
    position: relative;
    left: 70%;
    top: 30%;
    transform: translate(-40%, -50%);
  }

  .Footer p {
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    font-size: 14px;
  }

  .Logo {
    position: relative;
    left: 76%;
    top: 30%;
    transform: translate(-50%, -70%);
  }
  .RedLogo {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .FooterContainer {
    grid-column: 1 / -1;
    grid-row: -1;
    width: 100%;
    height: auto;
  }

  .Footer {
    position: relative;
    left: 85%;
    top: 50%;
    text-align: center;
  }

  .Footer p {
    font-size: 16px;
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
  }

  .Logo {
    position: relative;
    top: 10%;
    text-align: center;
  }
  .RedLogo {
    width: 30px;
    height: 30px;
  }
}
