@media screen and (min-width: 300px) {
  .FooterContainer {
    grid-column: 1;
    grid-row: -1;
    width: 100%;
    height: auto;
  }

  .Footer {
    position: relative;
    text-align: center;
    top: 1%;
  }

  .Footer p {
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    font-size: 15px;
  }

  .Logo {
    position: relative;
    text-align: center;
    top: 5%;
  }
  .RedLogo {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .FooterContainer {
    grid-column: 1 / -1;
    grid-row: -1;
    width: 100%;
    height: auto;
  }

  .Footer {
    position: relative;
    text-align: center;
    top: 1%;
  }

  .Footer p {
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
    font-size: 14px;
  }

  .Logo {
    position: relative;
    text-align: center;
    top: 5%;
  }
  .RedLogo {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .FooterContainer {
    grid-column: 1 / -1;
    grid-row: -1;
    width: 100%;
    height: auto;
  }

  .Footer {
    position: relative;
    top: 1%;
    text-align: center;
  }

  .Footer p {
    font-size: 16px;
    color: var(--main-fontcolor);
    font-family: var(--main-fontfamily);
  }

  .Logo {
    position: relative;
    top: 5%;
    text-align: center;
  }
  .RedLogo {
    width: 30px;
    height: 30px;
  }
}
