/*screen size 300*/
@media screen and (min-width: 300px) {
  /* Middle Section / Header */
  .HeadersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
  }

  .Cubes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  }

  .HeaderOne {
    position: relative;
    z-index: 1;
    bottom: 5%;
  }

  .HeaderOne h1 {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-weight: 300;
  }
  .HeaderTwo {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    position: relative;
    bottom: 2%;
  }

  .HeaderTwo h2 {
    font-weight: 100;
  }
}

/* Screen size Larger / min-width 400 px */
@media screen and (min-width: 400px) {
  /* Middle Section / Header */

  .HeaderOne {
    position: relative;
    bottom: 5%;
    z-index: 1;
  }

  .HeaderOne h1 {
    font-weight: 400;
  }

  .HeaderTwo {
    position: relative;
    bottom: 3%;
  }

  .HeaderTwo h2 {
    font-weight: 400;
  }
}

@media screen and (min-width: 600px) {
  /* Middle Section / Header */
  .HeadersContainer {
    grid-column: 1 /-1;
  }

  .HeaderOne {
    position: relative;
    bottom: 10%;
    z-index: 1;
  }

  .HeaderTwo {
    position: relative;
    bottom: 15%;
  }
}

/* Screen size Larger / min-width 700 px */
@media screen and (min-width: 768px) {
  /* Middle Section / Header */
  .HeadersContainer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .Cubes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: #fc354c;
    position: fixed;
    z-index: -1;
    top: 30%;
    left: 52%;
    transform: translate(-52%, -40%);
  }

  .HeaderOne {
    font-size: 34px;
    position: relative;
    top: 10%;
    z-index: 1;
  }

  .HeaderTwo {
    position: relative;
    top: 2%;
  }

  .HeaderTwo h2 {
    font-weight: 300;
  }
}
@media screen and (min-width: 992px) {
  /* Middle Section / Header with Text*/

  .Cubes {
    width: 100%;
    height: 300px;
  }

  .HeaderOne {
    position: relative;
    top: 30%;
    z-index: 1;
  }

  .HeaderOne h1 {
    font-weight: 400;
  }
  .HeaderTwo {
    position: relative;
    top: 25%;
  }

  .HeaderTwo h2 {
    font-weight: 400;
    font-size: calc(0.7em * var(--scale-ratio) * var(--scale-ratio));
  }
}

/* Screen size Larger / min-width 1200 px */
@media screen and (min-width: 1200px) {
  /* Middle Section / Header with Text*/
  .HeadersContainer {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 30%;
  }

  .Cubes {
    width: 100%;
    height: 400px;
    top: 43%;
    left: 0;
    transform: translateY(-52%);
  }

  .HeaderOne {
    position: relative;
    top: 42%;
    z-index: 1;
  }

  .HeaderTwo {
    position: relative;
    top: 38%;
  }

  .HeaderTwo h2 {
    font-weight: 400;
    font-size: calc(0.7em * var(--scale-ratio) * var(--scale-ratio));
  }
}
