/*screen size 300*/
@media screen and (min-width: 300px) {
  /* Middle Section / Header */
  .HeadersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Cubes {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  }

  .HeaderOne {
    position: relative;
    z-index: 1;
    position: relative;
    bottom: 5%;
  }

  .HeaderOne h1 {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-weight: 300;
  }
  .HeaderTwo {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    position: relative;
    bottom: 2%;
  }

  .HeaderTwo h2 {
    font-weight: 100;
  }
}

/* Screen size Larger / min-width 400 px */
@media screen and (min-width: 400px) {
  .Cubes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  }

  /* Middle Section / Header */
  .HeadersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .HeaderOne {
    position: relative;
    bottom: 5%;
    z-index: 1;
  }

  .HeaderOne h1 {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-weight: 400;
  }
  .HeaderTwo {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    position: relative;
    bottom: 3%;
  }

  .HeaderTwo h2 {
    font-weight: 400;
  }
}

/* Screen size Larger / min-width 700 px */
@media screen and (min-width: 700px) {
  /* Middle Section / Header */
  .HeadersContainer {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .Cubes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 200px; */
    position: fixed;
    z-index: -1;
    background-color: #fc354c;
  }

  .HeaderOne {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-size: 34px;
    position: relative;
    top: 12%;
    z-index: 1;
  }

  .HeaderTwo {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    position: relative;
    top: 15%;
  }

  .HeaderTwo h2 {
    font-weight: 300;
  }
}

/* Screen size Larger / min-width 1200 px */
@media screen and (min-width: 1200px) {
  /* Middle Section / Header with Text*/
  .HeadersContainer {
    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    bottom: 25%;
  }

  .Cubes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #fc354c;
    position: fixed;
    z-index: -1;
    top: 43%;
    transform: translateY(-52%);
  }

  .HeaderOne {
    position: relative;
    top: 25%;
    z-index: 1;
  }

  .HeaderOne h1 {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    font-weight: 400;
  }
  .HeaderTwo {
    color: var(--main-fontcolor);
    font-family: var(--header-fontfamily);
    position: relative;
    top: 26%;
  }

  .HeaderTwo h2 {
    font-weight: 400;
    font-size: calc(0.7em * var(--scale-ratio) * var(--scale-ratio));
  }
}
