* {
  box-sizing: border-box;
}

.App {
  min-width: 100%;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1; /*Occupy all  rows*/
}

/*screed size 300*/
@media screen and (min-width: 300px) {
  .Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 1fr 400px 610px 750px 1fr 800px 100px;
  }
}

/*screed size 400*/
@media screen and (min-width: 400px) {
  .Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 1050px 440px 670px 750px 1fr 800px 100px;
  }
}

@media screen and (min-width: 600px) {
  .Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 900px 450px 700px 900px 1fr 800px 80px;
  }
}

/*screed size 700* or 768?*/
@media screen and (min-width: 768px) {
  .Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px 800px 350px 770px 1000px 1fr 850px 100px;
  }
}

@media screen and (min-width: 992px) {
  .Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 750px 1000px 350px 800px 900px 1fr 950px 120px;
  }
}

/*screed size 1200*/
@media screen and (min-width: 1200px) {
  .Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 500px 1fr 1fr 1fr 1000px 120px;
  }
}
