* {
  box-sizing: border-box;
}

.App {
  grid-row: 1 / -1; /*Occupy all  rows*/
  grid-column: 1 / -1;
}

/*screed size 300*/
@media screen and (min-width: 300px) {
  .Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 800px 1fr 300px 1200px 1200px 300px;
  }
}

/*screed size 700*/
@media screen and (min-width: 700px) {
  .Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 700px 800px 100px 1fr 1fr 300px;
  }
}

/*screed size 1200*/
@media screen and (min-width: 1200px) {
  .Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 800px 100px 1fr 800px;
  }
}
