:root {
  --card-color: rgba(59, 130, 246, 0.5);
  --main-fontcolor: rgb(222, 185, 146);
  --second-color: #1ba098;
  --button-color: rbg(19, 78, 74);
  --button-fontcolor: rgb(94, 234, 212);
  --header-fontfamily: "Karla", sans-serif;
  --main-fontfamily: "Inconsolata", monospace;
  --background-color: rgb(5, 22, 34);
  --scale-ratio: 1.618; /* Golden ratio */
  --light-weight: 100;
}

body {
  background-color: var(--background-color);
  font-size: 1rem;
}

@media screen and (min-width: 300px) {
  /*screen size 300 */
  h1 {
    font-size: calc(0.7rem * var(--scale-ratio) * var(--scale-ratio));
  }

  h2 {
    font-size: calc(0.7rem * var(--scale-ratio));
  }

  h3 {
    font-size: calc(0.4rem * var(--scale-ratio) * var(--scale-ratio));
    line-height: 1.3;
  }

  p {
    font-size: calc(0.5rem * var(--scale-ratio));
    line-height: 1.3;
  }
}

@media screen and (min-width: 400px) {
  /*screen size 400 */
  h1 {
    font-size: calc(0.8rem * var(--scale-ratio) * var(--scale-ratio));
  }

  h2 {
    font-size: calc(0.7rem * var(--scale-ratio));
  }

  h3 {
    font-size: calc(0.6rem * var(--scale-ratio));
    line-height: 1.3;
    font-weight: 100;
  }

  p {
    font-size: calc(0.5rem * var(--scale-ratio));
    line-height: 1.3;
  }
}
/*screen size 700 */
@media screen and (min-width: 700px) {
  h1 {
    font-size: calc(1.2rem * var(--scale-ratio) * var(--scale-ratio));
    line-height: 1.1;
    font-weight: 300;
  }

  h2 {
    font-size: calc(1rem * var(--scale-ratio));
  }

  h3 {
    font-size: calc(0.8rem * var(--scale-ratio));
    font-weight: 100;
  }

  p {
    font-size: calc(0.6rem * var(--scale-ratio));
    font-weight: 100;
    line-height: 1;
  }
}

/*screen size 1200 */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: calc(
      1rem * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio)
    );
    line-height: 1.1;
  }

  h2 {
    font-size: calc(1.5rem * var(--scale-ratio));
  }

  h3 {
    font-size: calc(1rem * var(--scale-ratio));
  }

  p {
    font-size: calc(0.7rem * var(--scale-ratio));
    font-weight: 100;
    line-height: 1.2;
  }
}

button {
  /* border-radius: 30px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #213547;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fc354c;
}
button:hover {
  border-color: #deb992;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
