@media screen and (min-width: 300px) {
  .Colors {
    width: 95%;
    position: absolute;
    left: 2%;
  }

  .MainScroll {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 5;
    cursor: grab;
    overflow: hidden;
    margin: 10% 2%;
    background-image: linear-gradient(to right, #0abfbc, #fc354c);
    border-radius: 15px;
    border: 1px solid rgb(213, 209, 191);
  }
}

@media screen and (min-width: 1200px) {
  .Colors {
    width: 95%;
    position: absolute;
    left: 2%;
  }
  .MainScroll {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 4;
    grid-row-end: 5;
    cursor: grab;
    overflow: hidden;
    margin: 10% 12%;
    background-image: linear-gradient(to right, #0abfbc, #fc354c);
  }
}
