.MainScroll {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;
  /* margin-top: 8rem; */
  cursor: grab;
  overflow: hidden;
  margin: 3% 10%;
}

.Projects {
  font-weight: 400;
  color: var(--button-fontcolor);
  font-family: var(--main-fontfamily);
}
